*
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

div.notwelcome {
  padding: 10px 0 30px 0;
  text-align: center;
  background-color: #B22222;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.home {
  padding: 10px 0 30px 0;
  text-align: center;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.welcome {
  padding: 10px 0 30px 0;
  text-align: center;
  background-color: #7CFC00;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

form {
  text-align: center;
}

p{
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}
