<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
    <head>
        <title>My First Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='s.css') }}">
    </head>

    <body>

      <div class="content">
        <section id="contact">
          <div class="container">
            <div class="well well-sm">
              <h3><strong>Contact Us</strong></h3>
            </div>
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19863.191992076427!2d-0.11079470660951134!3d51.51506895352815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603554edf855f%3A0xa1185c8d19184c0!2sCity+of+London%2C+London!5e0!3m2!1sen!2suk!4v1544389160258" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-md-5">
                <h4><strong>Get in Touch</strong></h4>
              <form id="contactform">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="Name" id="form-name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" name="" value="" placeholder="Phone">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
                </div>
                <button class="btn btn-default" type="submit" name="button" onclick="contact()">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                </button>
              </form>
            </div>
            </div>
          </div>
        </section>
      </div>
    </body>
</html>
