<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
    <head>
        <title>My First Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='s.css') }}">
    </head>

    <body>
      <header id="header">
          <ul class='nav'>
              <li><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
          </ul>
      </header>

      <p> <h2> {{w}}: {{d}} </h2></p>
      <p> <h2> Synonym: {{s}} </h2></p>

    </body>
</html>
