<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
    <head>
        <title>My First Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>

            {% if name %}

                <p> <h2> Hello {{name}} </h2></p>

            {% else %}

            <p>Hello - No Name!</p>

            {% endif %}

        <div class="notwelcome">
            <h2>Unfortunately, this website is not for you. {{gen}}</h1>

        </div>

    </body>
</html>
